/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Global Styles */
ion-header {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  /* Flex Center Styles */
  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Button Styles */
  ion-button.custom-button {
    border-radius: 50px;
    margin: 10px 0;
    padding: 0 20px;
    width: 300px;
    --border-color: #e2e2e2;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-button.custom-button:hover {
    background-color: #f5f5f5;
  }
  
  ion-button.exit-button {
    border-radius: 50px;
    margin: 10px 0;
    padding: 0 20px;
    width: auto;
    --border-color: #e2e2e2;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-button.exit-button:hover {
    background-color: #ffe6e6;
  }
  
  .card {
    color: #333;
    background-color: rgba(255, 255, 255, 0.9); /* Set the background color to white with 80% opacity */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  img.zoom {
    transition: transform 0.3s; /* Add a smooth transition effect */
  }
  
  img.zoom:hover {
    transform: scale(1.2); /* Zoom the image by 20% on hover */
  }
  
  .line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0;
  }
  
  ion-content.content {
    --background: transparent; /* Set the background color to transparent */
    background-image: url("splash1.png"); /* Update the image path and filename */
    background-repeat: no-repeat;
    background-size: cover;
  }
    