
  
  .card {
    color: #333;
    background-color: rgba(255, 255, 255, 0.9); /* Set the background color to white with 80% opacity */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .card-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .card-content {
    padding: 16px;
  }

  .command-line {

    flex-direction: column;
    margin-bottom: 10px;
  }
  
  
  .line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0;
  }
  
  
ion-content.content {
  --background: transparent; /* Set the background color to transparent */
  background-image: url("splash1.png"); /* Update the image path and filename */
  background-repeat: no-repeat;
  background-size: cover;
}