<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Network Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Accessing Router CLI</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>Router</strong></p>
            <hr class="line">
            <div class="network-device">
              <div class="image-container">
                <img src="assets/icon/router.png" width="800" alt="Network Device Icon">
              </div>
              <div class="description">
                <p>A router is a device that forwards data packets along networks. A router is connected to at least two networks, 
                  commonly two LANs or WANs or a LAN and its ISP's network. A router is a device that connects two or more packet-switched networks or subnetworks.</p>
              </div>
            </div>

            <p><strong>Switch</strong></p>
            <hr class="line">
            <div class="network-device">
              <div class="image-container">
                <img src="assets/icon/switch.png" width="100" alt="Network Device Icon">
              </div>
              <div class="description">
                <p>A switch is a hardware device that filters and forwards network packets from one networking device to another. It is widely used in local area networks (LANs) to send each incoming message frame by looking at the physical device address, known as the Media Access Control address (MAC address).</p>
              </div>
            </div>
            <p><strong>Layer 3 Switch</strong></p>
            <hr class="line">
            <div class="network-device">
              <div class="image-container">
                <img src="assets/icon/layer3.png" width="100" alt="Network Device Icon">
              </div>
              <div class="description">
                <p>A layer 3 switch is a network switch with some router functions. The most important purpose of the layer 3 switch is to speed up the data exchange within a large LAN. The routing function is also used for this purpose. It can accomplish on-route and multiple packet forwarding processes.</p>
              </div>
            </div>
            <p><strong>Hub</strong></p>
            <hr class="line">
            <div class="network-device">
              <div class="image-container">
                <img src="assets/icon/hub.png" width="100" alt="Network Device Icon">
              </div>
              <div class="description">
                <p>A hub is a common connection point for devices in a network. Hubs are devices commonly used to connect segments of a LAN. The hub contains multiple ports. When a packet arrives at one port, it is copied to the other ports so that all segments of the LAN can see all packets.</p>
              </div>
            </div>
            <p><strong>Bridge</strong></p>
            <hr class="line">
            <div class="network-device">
              <div class="image-container">
                <img src="assets/icon/bridge.png" width="100" alt="Network Device Icon">
              </div>
              <div class="description">
                <p>A bridge operates at the data link layer. A bridge is a repeater with the added functionality of filtering content by reading MAC addresses of the source and destination. It is also used for interconnecting two LANs working on the same protocol. It has a single input and single output port, thus making it a 2-port device.</p>
              </div>
            </div>
            <p><strong>Server</strong></p>
            <hr class="line">
            <div class="network-device">
              <div class="image-container">
                <img src="assets/icon/server.png" width="100" alt="Network Device Icon">
              </div>
              <div class="description">
                <p>A server is a computer designed to process requests and deliver data to another computer over the internet. There are two behind-the-scene players that work as partners to get a website to show up on your screen properly: the browser and the web server.</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
