<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>b2.page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="modern-list">
    <ion-item class="clickable-item">
      <ion-label>
        <ion-icon name="document-outline" slot="start"></ion-icon>
        Access Switch and Router CLI
      </ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="clickable-item" >
      <ion-label>
        <ion-icon name="terminal-outline" slot="start"></ion-icon>
        Windows CMD Commands
      </ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="clickable-item" >
      <ion-label>
        <ion-icon name="server-outline" slot="start"></ion-icon>
        Network Devices
      </ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
