.modern-list {
    ion-item {
      --background: #fff;
      --color: #333;
      --ion-item-background-hover: #f5f5f5;
      --ion-item-background-activated: #e0e0e0;
      --ion-item-text-padding-start: 16px;
      --padding-end: 16px;
  
      ion-label {
        ion-icon {
          --ion-icon-color: #777;
          --ion-icon-size: 24px;
          margin-right: 8px;
        }
      }
  
      ion-icon[slot='end'] {
        --ion-icon-color: #999;
        --ion-icon-size: 20px;
      }
    }
  }
  