<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Basic CLI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Accessing Router CLI</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>CLI Modes</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/basicCLI1.jpg" />
            <br>
            <br>
            <br>
            <p><strong>Basic Commands</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/basicCLI2.jpg" />
            <br>
            <br>
            <br>
            <p><strong>Show Commands</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/basicCLI3.jpg" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            
           
          </ion-card-content>
        </ion-card>

        

        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>