.modern-card {
     color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color to white with 80% opacity */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
 
}
ion-content {
  --background: url('splash1.png') no-repeat center center / cover;
}
.modern-list {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.9); /* Set the background color to white with 80% opacity */
 
}

.clickable-item {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s;
}

.clickable-item:hover {
  color: #0056b3;
  text-decoration: underline;
  
}

  
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 10px;
 
  
}




