<ion-header>
  <ion-toolbar>
    <ion-label class="header-title">
      Today
      <p class="header-date">{{ today | date:'fullDate' }}</p>
    </ion-label>
  </ion-toolbar>
</ion-header>


<ion-content class="content">
  <ion-card class="modern-card">
    <ion-card-content>
      <img src="assets/icon/ccna.png" alt="Silhouette of mountains" class="card-image" />
    </ion-card-content>
  </ion-card>

  <div class="flex-center">
    <!-- Buttons -->
  
    <ion-button fill="outline" class="custom-button" (click)="onButton1Click()">WINDOWS</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="onButton2Click()">COMMANDS</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="onButton3Click()">NETWORK TOPOLOGY</ion-button>
    
    <!-- Exit Button -->
    <ion-button fill="outline" class="exit-button" (click)="onExitClick()">Exit</ion-button>
  </div>
</ion-content>
