/* Add these styles to your global styles file or component-specific stylesheet */

ion-content.content {
  --background: transparent; /* Set the background color to transparent */
  background-image: url("splash1.png"); /* Update the image path and filename */
  background-repeat: no-repeat;
  background-size: cover;
}

modern.card {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color to white with 80% opacity */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  
}



ion-button.custom-button:hover {
  --border-color: #ffffff; /* Set the border color to white on hover */
  color: #ffffff; /* Set the text color to white on hover */
}

ion-button.custom-button:active {
  background-color: #222222; /* Set a slightly darker background color on button press */
}

ion-button.exit-button {
  --border-color: #e2e2e2;
  color: #ffffff; /* Set the text color to white */
  font-weight: bold;
  font-size: 18px;
  background-color: #333333; /* Set the background color to a dark shade of gray */
}

ion-button.exit-button:hover {
  --border-color: #ffffff; /* Set the border color to white on hover */
  color: #ffffff; /* Set the text color to white on hover */
}

ion-button.exit-button:active {
  background-color: #222222; /* Set a slightly darker background color on button press */
}

/* Add these styles to your global styles file or component-specific stylesheet */

.ion-toolbar {
  --background: #433465; /* Set the toolbar background color to a dark purple */
  color: #ffffff; /* Set the text color to white */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header-title {
  font-weight: bold;
  font-size: 24px;
}

.header-date {
  font-size: 16px;
  opacity: 0.8;
}
