
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>b2page4</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-card class="modern-card">
    <ion-card-content>
      <img src="assets/icon/ccna.png" alt="Silhouette of mountains" class="card-image" />
    </ion-card-content>
  </ion-card>

  <div class="flex-center">
    <ion-list>
      <ion-item >
      </ion-item>
      <!-- Other items in the list -->
      <ion-item class="clickable-item " (click)="onItemClick('Item 1')">
        Basic CLI
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 2')">
        Router Basics
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 3')">
        Routing Protocols
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 4')">
        Switch Basics
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 5')">
        Switching Protocols
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 6')">
        Administration and Troubleshooting
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 7')">
        Managing IP Services
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 8')">
        WANS
      </ion-item>
      <ion-item class="clickable-item" (click)="onItemClick('Item 9')">
        Network Security
      </ion-item>
    </ion-list> 
  </div>
</ion-content>