/* Add these styles to your global styles file or component-specific stylesheet */



.card {
  color: #333;
  background-color: rgba(255, 255, 255, 0.9); /* Set the background color to white with 80% opacity */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 10px;
}





ion-item.clickable-item:active {
  background-color: #222222; /* Set a slightly darker background color on button press */
}

.clickable-item {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s;
  
}

.clickable-item:hover {
  color: #0056b3;
  text-decoration: underline;
  box-shadow: none; /* Remove box shadow on click */
}



