ion-content {
    --ion-background-color: #f0f0f0;
  }
  
  ion-title {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .command {
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  ion-item {
    --inner-padding-start: 15px;
  }
  