<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Access Switch and Router CLI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Accessing Router CLI</ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content">
            <p>Step 1: Connect your router to your laptop using a console cable.</p>
            <ion-img src="assets/icon/imgCLI1.jpg" alt="Image"></ion-img>

            <p>Step 2: Determine the serial port being used to connect your laptop to your router over the console cable.</p>
            <ion-img src="assets/icon/imgCLI2.jpg" alt="Image"></ion-img>

            <p>Step 3: Determine the serial port being used to connect your laptop to your router over the console cable.</p>
            <ion-img src="assets/icon/imgCLI3.jpg" alt="Image" class="shrink-image1"></ion-img>

            <p>Step 4: Determine the serial port being used to connect your laptop to your router over the console cable.</p>
            <ion-img src="assets/icon/imgCLI4.jpg" alt="Image"></ion-img>

            <p>Step 5: Determine the serial port being used to connect your laptop to your router over the console cable.</p>
          
            <ion-img src="assets/icon/imgCLI5.jpg" alt="Image" class="shrink-image"></ion-img>

            
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Accessing Switch CLI</ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content">
            <p>Step 1: Connect your switch to your laptop using a console cable.</p>
            <ion-img src="assets/icon/imgCLI6.jpg" alt="Image"></ion-img>

            <p>Step 2: Determine the serial port being used to connect your laptop to your switch over the console cable.</p>
            <ion-img src="assets/icon/imgCLI7.jpg" alt="Image"></ion-img>

            <p>Step 3: Determine the serial port being used to connect your laptop to your switch over the console cable.</p>
            <ion-img src="assets/icon/imgCLI8.jpg" alt="Image"></ion-img>

            <p>Step 4: Determine the serial port being used to connect your laptop to your switch over the console cable.</p>
            <ion-img src="assets/icon/imgCLI9.jpg" alt="Image"></ion-img>

            <p>Step 5: Determine the serial port being used to connect your laptop to your switch over the console cable.</p>
            <ion-img src="assets/icon/imgCLI10.jpg" alt="Image"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
